body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #5c5858;
}

header {
    background: #2e3133;
    color: rgb(153, 134, 137);
    text-align: center;
    padding: 2rem 0;
    transition: background 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
}

nav {
    background: #dddce0;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #534e4e;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #84a9d0;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #007bff;
    margin-bottom: 1rem;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.profile-image {
    display: block;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 1rem;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #c6c4d2;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-left: 4px solid #007bff;
    transition: background 0.3s ease, transform 0.3s ease;
}

ul li:hover {
    background: #e0e0e0;
    transform: translateX(5px);
}

.project {
    margin-bottom: 2rem;
    text-align:center;
    animation: fadeIn 1s ease-out;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

footer {
    background: #8b7e7e;
    color: rgb(229, 218, 218);
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #637282;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer a {
    color: #444a50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: 1rem;
    }

    .profile-image {
        max-width: 120px;
    }

    section {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    .profile-image {
        max-width: 100px;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
